html,
body {
    font-family: "Poppins", "Inter", -apple-system, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.countdown-div::before, .countdown-div::after {
    top: calc(50% - 4px);
    border-radius: 15px 15px 0px 0;
}

.jumbotron {
    height: 55vh;
    margin-bottom: 50px;
}

.jumbotron-inner {
   height: 100%;
   padding-top: 65px;
  align-items: center;
  text-align: center;
}
@media (max-width: 500px) {  
  .jumbotron {
       height: 45vh;
  }
}

#hero{
    min-height: 70vh;
    background: url(../../assets/hero-background.png) #57aa46ad;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-container {
background-size: cover;
background-repeat: no-repeat no-repeat;
background-blend-mode: multiply;
background-position: center center;}