html, body {
    font-family: 'Poppins', 'Inter', -apple-system, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

 h1 {
  /* text-align: center; */
  /* font-size: 1.5rem; */
  line-height: 2rem;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
}
main {
  background-image: url(./images/bg-stars.svg);
}
.main-section {
  margin-top: 1.5rem;
  display: grid;
  /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
}

@media (min-width: 1024px) {
  .main-section {
    /* margin-left: auto; */
    /* margin-right: auto; */
  }

  .main-section {
    /* margin-top: 5rem; */
  }

  .main-section {
    max-width: 40rem;
  }

  .main-section {
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

.footer-section {
  padding-top: 20rem;
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/pattern-hills.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 1024px) {
  .footer-section {
    padding-top: 15rem;
  }
}
.footer-section svg {
  margin-right: 1.5rem;
  cursor: pointer;
}
.footer-section svg:hover .social-icon {
  fill: hsl(345 95% 68% / var(--tw-text-opacity));
}
section {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* position: relative; */
}

section > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  /* margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse))); */
  /* margin-bottom: calc(1.5rem * var(--tw-space-y-reverse)); */
}
section div {
  position: relative;
  width: 100%;
  max-width: 8rem;
  border-radius: 0.3rem;
  --tw-bg-opacity: 1;
  background-color: hsl(236 21% 26% / var(--tw-bg-opacity));
  box-shadow: rgb(0, 0, 0) -10px 20px 30px -10px;
}
@media (min-width: 400px) {
  section div {
    border-radius: 0.375rem;
  }
}
h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: hsl(345 95% 68% / var(--tw-text-opacity));
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 400px) {
  h2 {
    font-size: 2.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
section div.line-through {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  z-index: 10;
  background-color: hsl(235, 16%, 14%);
}
section > div::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: -0.25rem;
  transform: rotateZ(90deg);
  height: 8px;
  width: 15px;
  border-radius: 15px 15px 0px 0;
  background-color: hsl(235, 16%, 14%);
}
@media (min-width: 400px) {
  section > div::before {
    left: -5%;
  }
}

@media (min-width: 1024px) {
  section > div::before {
    left: -3%;
  }
}

section > div::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  right: -0.25rem;
  transform: rotateZ(-90deg);
  height: 8px;
  width: 15px;
  border-radius: 15px 15px 0px 0;
  background-color: hsl(235, 16%, 14%);
}
@media (min-width: 1024px) {
  section > div::after {
    right: -3%;
  }
}
p {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: hsl(237 18% 59% / var(--tw-text-opacity));
}