html,
body {
    font-family: "Poppins", "Inter", -apple-system, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    --tw-text-opacity: 1;
    color: hsl(345 95% 68% / var(--tw-text-opacity));
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.countdown-div::before, .countdown-div::after {
    top: calc(50% - 4px);
    border-radius: 15px 15px 0px 0;
}
